name: Deploy Static Website to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ 13.113.178.94 }}
          username: ${{ failover }}
          key: ${{ secret.EC2_SECURITY_KEY }}
          source: "./*"
          target: "/var/www/quonsuntory"
